<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/stage/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/stage/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
                    {% if user.id%}
					<span style="color: #c09853">欢迎你，{{user.username}}</span>
                    {% else %}
                    <a href="{% url 'users:login' %}">登录</a>
                    {% endif %}
					<span>|</span>
                    {% if user.id%}
					<a href="{% url 'users:logout' %}">退出</a>
                    {% else %}
                    <a href="{% url 'users:register' %}">注册</a>
                    {% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'contents:userCenterInfo' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'contents:cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'contents:userCenterOrder' %}">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="{% url 'contents:index' %}" class="logo fl"><img src="/static/stage/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'contents:cart' %}" class="cart_name fl">我的购物车</a>
			<div id="show_count" class="goods_count fl">0</div>
		</div>
	</div>
    {% csrf_token %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					{% for gt in gts%}
					<li><a href="{% url 'contents:list' gt.gt_id 0 %}" class="{{gt.clas}}">{{gt.gt_name}}</a></li>
            		{% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="{% url 'contents:list' 1000 sid %}">全部分类</a>
		<span>></span>
		{% for gt in gts %}
		{% ifequal gt.gt_id tid %}
		<a href="{% url 'contents:list' gt.gt_id 0 %}">{{gt.gt_name}}</a>
        {% endifequal %}
		{% endfor %}

	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for rgood in rgoods%}
					<li>
						<a href="{% url 'contents:detail' rgood.gt.gt_id rgood.g_id %}"><img src="{% static rgood.img %}"></a>
						<h4><a href="{% url 'contents:detail' rgood.gt.gt_id rgood.g_id %}">{{rgood.name}}</a></h4>
						<div class="prize">￥{{rgood.price}}</div>
					</li>
                    {%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'contents:list' tid 0 %}" {%ifequal sid '0'%}class="active"{% endifequal %}>默认</a>
				<a href="{% url 'contents:list' tid 1 %}" {%ifequal sid '1'%}class="active"{% endifequal %}>价格升</a>
				<a href="{% url 'contents:list' tid 2 %}" {%ifequal sid '2'%}class="active"{% endifequal %}>价格降</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% for good in goods %}
				<li>
					<a href="{% url 'contents:detail' good.gt.gt_id good.g_id %}"><img src="{% static good.img %}"></a>
					<h4><a href="{% url 'contents:detail' good.gt.gt_id good.g_id %}"></a>{{good.name}}</h4>
					<div class="operate">
						<span class="prize">￥{{good.price}}</span>
						<span class="unit">{{good.price}}/500g</span>
						<a onclick="addCart({{good.id}})" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="pagenation">
				<a href="#"><上一页</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script>
		function addCart(id) {
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                type:'POST', 
                url:'/contents/addCart/',
                headers:{'X-CSRFToken': csrf},
                dataType:'json',
                data:{'g_id':id},
                success:function (data) {
                    getCartCount();
                }
                
            });
        }
        function getCartCount() {
            $.get('/contents/getPrice/',function (data) {
                 $('#show_count').text(data.counts);
            });
        }
        getCartCount();
	</script>

	
</body>
</html>