<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/stage/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/stage/css/main.css">
    <script src="/static/stage/js/jquery.min.js"></script>
    <script src="/static/stage/js/user_center_info.js"></script>
</head>
<body>
    {% csrf_token %}
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
                    {% if user.id%}
					<span style="color: #c09853">欢迎你，{{user.username}}</span>
                    {% else %}
                    <a href="{% url 'users:login' %}">登录</a>
                    {% endif %}
					<span>|</span>
                    {% if user.id%}
					<a href="{% url 'users:logout' %}">退出</a>
                    {% else %}
                    <a href="{% url 'users:register' %}">注册</a>
                    {% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'contents:userCenterInfo' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'contents:cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'contents:userCenterOrder' %}">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="{% url 'contents:index' %}" class="logo fl"><img src="/static/stage/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'contents:userCenterInfo' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'contents:userCenterOrder' %}">· 全部订单</a></li>
				<li><a href="{% url 'contents:userCenterSite' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{username}}</li>
							<li><span>联系方式：</span>{{address.tel}}</li>
							<li><span>联系地址：</span>{{address.detail_address}}</li>
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
						{% for good in recent_goods %}
				<li>
					<a href="{% url 'contents:detail' good.gt.gt_id good.g_id %}"><img src="{% static good.img %}"></a>
					<h4><a href="{% url 'contents:detail' good.gt.gt_id good.g_id %}">{{good.name}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{good.price}}</span>
						<span class="unit">{{good.price}}/500g</span>
						<a href="javascript:;" onclick="addCart({{good.id}})" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                    {% endfor %}
			</ul>
		</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>