<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/stage/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/stage/css/main.css">
    <script src="/static/stage/js/jquery.min.js"></script>
    <script src="/static/stage/js/user_center_order.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
                    {% if user.id%}
					<span style="color: #c09853">欢迎你，{{user.username}}</span>
                    {% else %}
                    <a href="{% url 'users:login' %}">登录</a>
                    {% endif %}
					<span>|</span>
                    {% if user.id%}
					<a href="{% url 'users:logout' %}">退出</a>
                    {% else %}
                    <a href="{% url 'users:register' %}">注册</a>
                    {% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'contents:userCenterInfo' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'contents:cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'contents:userCenterOrder' %}">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="{% url 'contents:index' %}" class="logo fl"><img src="/static/stage/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'contents:userCenterInfo' %}">· 个人信息</a></li>
				<li><a href="{% url 'contents:userCenterOrder' %}" class="active">· 全部订单</a></li>
				<li><a href="{% url 'contents:userCenterSite' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in no_pay_orders%}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.o_create}}</li>
					<li class="col02">{{order.o_num}}</li>
					<li class="col02 stress">未支付</li>		
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">

                                {% for ordergood in order.ordergoods_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{% static ordergood.goods.img %}"></li>
									<li class="col02">{{ordergood.goods.name}}<em>{{ordergood.goods.price}}元/500g</em></li>
									<li class="col03">{{ordergood.goods_num}}</li>
									<li class="col04">{{ordergood.goods.price}}元</li>
								</ul>
                                {% endfor %}


							</td>
							<td id="no{{order.id}}" width="15%" onclick="noPrice({{order.id}})">点击查看该订单价格</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
                {% endfor %}
				{% for order in yes_pay_orders%}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.o_create}}</li>
					<li class="col02">订单号：{{order.o_num}}</li>
					<li class="col02 stress">已支付</li>			
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">

                                {% for ordergood in order.ordergoods_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{% static ordergood.goods.img %}"></li>
									<li class="col02">{{ordergood.goods.name}}<em>{{ordergood.goods.price}}元/500g</em></li>
									<li class="col03">{{ordergood.goods_num}}</li>
									<li class="col04">{{ordergood.goods.price}}元</li>
								</ul>
                                {% endfor %}


							</td>
							<td id="yes{{order.id}}" onclick="yesPrice({{order.id}})" width="15%">点击查看该订单价格</td>
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
						</tr>
					</tbody>

				</table>
                {% endfor %}

				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>