<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/stage/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/stage/css/main.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/stage/js/user_center_site.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
                    {% if user.id%}
					<span style="color: #c09853">欢迎你，{{user.username}}</span>
                    {% else %}
                    <a href="{% url 'users:login' %}">登录</a>
                    {% endif %}
					<span>|</span>
                    {% if user.id%}
					<a href="{% url 'users:logout' %}">退出</a>
                    {% else %}
                    <a href="{% url 'users:register' %}">注册</a>
                    {% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'contents:userCenterInfo' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'contents:cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'contents:userCenterOrder' %}">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="{% url 'contents:index' %}" class="logo fl"><img src="/static/stage/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'contents:userCenterInfo' %}">· 个人信息</a></li>
				<li><a href="{% url 'contents:userCenterOrder' %}">· 全部订单</a></li>
				<li><a href="{% url 'contents:userCenterSite' %}" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
						<dd> {{address.detail_address }} ( {{address.recipient}} 收) {{address.tel}}</dd>
                        <dt>其他地址：</dt>
                        {% for address in other_address %}
                        <dd>{{address.detail_address }} ( {{address.recipient}} 收) {{address.tel}}
                            <a id="remove{{address.id}}" onclick="removeAddress({{address.id}})" href="javascript:;" style="position: absolute;left: 1200px">删除</a>
                        </dd>
                        {% endfor %}
					</dl>					
				</div>
				<h3 class="common_title2">添加地址</h3>
				<div class="site_con">
					<form method="post" action="">
						{% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="recipient">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="detail_address"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="post_code">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="tel">
						</div>

						<input type="submit" name="" value="新增地址" class="info_submit">
					</form>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>